# Per-user workspace configuration
.vscode/

# Python package bytecode directories
__pycache__/

# Python virtualenv directory
/venv/

# Build- and distribution-related directories
*.egg-info/
*.spec
build/
dist/

# Automated testing-related directories
.coverage
.pytest_cache/
htmlcov/

# Temporary and system files
.DS_Store
